.post-item{
  margin-bottom: 20px;
  padding: 15px;
}

.post-item__title {
  margin-bottom: 0;
}

.post-list__link {
  width: 200px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  text-decoration: none;
}

.btn-primary {
  color: #333;
  background-color: #8db7f7;
}
